torch
torchvision
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
scikit-learn
accelerate
bitsandbytes
datasets
diffusers
easydict
moviepy
packaging
pypatchify
safetensors
tqdm
transformers
wandb
xformers
asmk
